
table {
    border-collapse: collapse;
}
table th {
    background-color: #B57369;
    text-align: center;
    color: #fff;

}
table td{ 
    background-color: #fff;
}
body 
    {
        background-image: url("./Balloons.png");
        background-color: #E1988C;
    }
h1{color:#fff}
.table2 input{ display: block;}

.container{overflow: hidden;}
.selections{float: left;}
.table2 input{display: block;}
tr{transition: all .25s ease-in-out}
tr:hover{background-color: aqua; cursor: pointer;} 