:root {
  background-image: url("./Balloons.png");
  background-color: #e1988c;
}

/* for title */
h1 {
  color: #fff;
  text-align: center;
  font-size: 60px;
}

.all{
  border-radius: 25px;
  background-color: #fff;
  width: 870px;
  height: 150px;
}

/* list choices */
.top-bar{
  color: #fff;
  display: flex;
  margin-left: 200px;
  background-color: #B57369;
  margin-top: 5px;
  width: 850px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-size: 20px;
}
.top-barN{
  margin-right: 150px;
  margin-left: 50px;
}
.top-barG{
  margin-right: 100px;
  margin-left: 150px;

} 

/* search bar */
.search{
  margin-left: 200px;
  width: 850px;
  background-color: white;
}
#searcher{
  width: 500px;
  margin-left: 120px;
  height: 20px;
}

/* .card{ */
  /* background-color: white;
  width: 850px;
  margin-left: 200px;
  color:#B57369;
}

.useCards{
  display: flex-flow;
  justify-content: 50px;
  font-size: 15px;
} */

/* for sign up form */
/* .tab {
  background-color: white;
  text-align: center;
  width: 850px;
  height: 300px;
  margin-bottom: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: 15px;
}
.fNlNg{
  color: #B57369;
  display: flex;
  justify-content: space-around; 
}
.fnname{
  display: inline; 
} 
.FN{
  width: 90px;
  height: 15px;
  display: inline; 
}
.lnname{
  display: inline; 
}
.LN{
  width: 90px;
  height: 15px;
  display: inline; 
}
.gender{
  display: inline; 
}

.dAwL{
  color: #B57369;
  display: flex;
  justify-content: space-around; 
}
.date{
  display: inline;
}
.put{
  display: inline;
}
.wish{
  display: inline;
}
.wlput{
  display: inline;
}

.wlput{
  width: 400px;
  height: 100px;
  border: 1px solid #eeeeee;
  background-color: #f6f6f6;
  border-radius: 5px;
  color: #808080;
}

.pw{
  color: #B57369;
  margin-right: 550px;
}
.pass{
  color: #B57369;
  margin-left: 40px;
} */

/* for button + */
.circle {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: lightcoral;
  padding: 12px;
  display: block;
  margin: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.circleBG{
  background-color: #fff;
  width: 850px;
  margin-left: 200px;
}
.line-wrapper { 
  /* position: relative; */
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.horizontal, .vertical {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 1);
  pointer-events: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.vertical {
  position: relative;
  bottom: 2px;
  transform: rotate(90deg);
  
}
.circle:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.line-wrapper.open {
  transform: rotate(180deg);
}
.vertical.open {
  transform: rotate(180deg);
}
.content {
  margin-top: 20px;
  height: 0;
/*   padding: 10px; */
  /* overflow: hidden; */
/*   transform: scaleY(0);
  transform-origin: top;
  /* position: relative; */
  transition: 0.3s ease;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.content-wrapper {
  padding: 5px; 
  position: absolute;
  top: 0;
  margin-left: 10px; 
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  
}
.content.open {
  height: 250px; 
/*   transform: scaleY(1); */
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
} 

/* cancel & ok */
/* .btnOKCA{
  margin-left: 550px;
}
.cancel{
  border: none;
  color: #B57369;
  background-color: #f6f6f6;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  font-size: 15px;
}
.ok{
  background-color: #B57369;
  color: #fff;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  font-size: 15px;
} */

/* pop up */
/* #delete {
  font-size: large;
  padding: 0.5em 1em;
  position: absolute;
border: none;
background-color: #fff;
left: 73.12%;
right: 25.49%;
top: 47.44%;
bottom: 50.33%;
}
#confirmation{
  border-radius: 25px;
}
.modal-container {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-open {
  display: flex;
}

.modal {
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
}

.modal-button {
  text-transform: uppercase;
  padding: 0.5em 1em;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin-left: 0.5em;
}

.modal-confirm-button {
  background-color:#B57369;
}

.modal-header {
  display: flex;
  flex-direction: column;
}

.modal-header h3 {
  margin: 1em;
}

.modal-header span {
  padding-right: 0.3em;
  cursor: default;
  align-self: flex-end;
}

.modal-content {
  padding: 1em;
  flex-grow: 1;
}

.modal-footer {
  padding: 1em;
  /* display: flex; */
  /* justify-content: flex-end;
}

.close-button {
  border: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}  */

/* edit button */
/* .icons{
  color: #B57369;
  display: flex;
}
.edit{
  border: none;
  color: #B57369;
position: absolute;
width: 30px;
height: 20px;
left: 1011px;
top: 427px;
font-family: 'Euclid Circular B';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: right;
text-decoration-line: underline;
color: #995D53;
} */